{{> header}}

<h2>Login</h2>
<form method="POST" action="">
  <input type="text" placeholder="Usuário" name="user" required="required" autofocus="autofocus">
  <input type="password" placeholder="Senha" name="password" required="required">
  <button type="submit" class="button">Enviar</button>
</form>

{{> footer}}
